{
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2018,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "parser": "@babel/eslint-parser",
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
        "commonjs": true
    },
    "plugins": [
        "filenames",
        "react",
        "react-hooks",
        "jest",
        "import"
    ],
    "extends": [
        "plugin:jest/recommended",
        "plugin:react/recommended"
    ],
    "settings": {
        "react": {
            "version": "detect"
        },
        "import/resolver": {
            "node": {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        }
    },
    "rules": {
        "arrow-parens": [
            "error",
            "as-needed"
        ],
        "arrow-spacing": "error",
        "brace-style": "error",
        "comma-dangle": "error",
        "curly": [
            "error",
            "multi-line",
            "consistent"
        ],
        "dot-location": [
            "error",
            "property"
        ],
        "eol-last": "error",
        "eqeqeq": [
            "error",
            "smart"
        ],
        "filenames/match-regex": [
            "error",
            "^[a-z0-9.-]+$",
            false
        ],
        "filenames/match-exported": [
            "error",
            "kebab"
        ],
        "import/order": [
            "error",
            {
                "newlines-between": "always"
            }
        ],
        "indent": [
            "error",
            "tab",
            {
                "SwitchCase": 1
            }
        ],
        "jsx-quotes": [
            "error",
            "prefer-single"
        ],
        "key-spacing": [
            "error",
            {
                "mode": "minimum"
            }
        ],
        "keyword-spacing": "error",
        "no-alert": "error",
        "no-console": 1,
        "no-array-constructor": "error",
        "no-cond-assign": [
            "error",
            "always"
        ],
        "no-constant-condition": "error",
        "no-debugger": "error",
        "no-div-regex": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-extra-boolean-cast": "error",
        "no-extra-semi": "error",
        "no-implicit-coercion": [
            "error",
            {
                "boolean": false
            }
        ],
        "no-implied-eval": "error",
        "no-iterator": "error",
        "no-lone-blocks": "error",
        "no-multi-spaces": [
            "error",
            {
                "exceptions": {
                    "ObjectExpression": true
                }
            }
        ],
        "no-multiple-empty-lines": [
            "error",
            {
                "max": 1
            }
        ],
        "no-native-reassign": "error",
        "no-negated-condition": "error",
        "no-new-func": "error",
        "no-new-object": "error",
        "no-new-wrappers": "error",
        "no-redeclare": "error",
        "no-script-url": "error",
        "no-self-compare": "error",
        "no-sequences": "error",
        "no-spaced-func": "error",
        "no-throw-literal": "error",
        "no-trailing-spaces": "error",
        "no-undef": "error",
        "no-unneeded-ternary": "error",
        "no-unreachable": "error",
        "no-unused-expressions": "error",
        "no-unused-vars": "error",
        "no-useless-call": "error",
        "no-useless-concat": "error",
        "object-curly-spacing": [
            "error",
            "always",
            {
                "objectsInObjects": true,
                "arraysInObjects": true
            }
        ],
        "one-var": [
            "error",
            "never"
        ],
        "prefer-arrow-callback": [
            "error",
            {
                "allowNamedFunctions": true
            }
        ],
        "quote-props": [
            "error",
            "as-needed",
            {
                "keywords": true,
                "unnecessary": false
            }
        ],
        "quotes": [
            "error",
            "single",
            {
                "avoidEscape": true,
                "allowTemplateLiterals": true
            }
        ],
        "radix": "error",
        "react/display-name": "off",
        "react/jsx-curly-spacing": [
            "off",
            {
                "when": "always",
                "spacing": {
                    "objectLiterals": "never"
                }
            }
        ],
        "react/jsx-equals-spacing": [
            "error",
            "never"
        ],
        "react/jsx-tag-spacing": "error",
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "react/prop-types": [
            "error",
            {
                "skipUndeclared": true
            }
        ],
        "react-hooks/rules-of-hooks": "error",
        "semi": "error",
        "space-before-blocks": "error",
        "space-before-function-paren": [
            "error",
            {
                "anonymous": "always",
                "named": "never"
            }
        ],
        "space-in-parens": "error",
        "space-infix-ops": "error",
        "space-unary-ops": [
            "error",
            {
                "words": true,
                "nonwords": false
            }
        ],
        "template-curly-spacing": [
            "error",
            "always"
        ],
        "use-isnan": "error",
        "wrap-iife": [
            "error",
            "inside"
        ],
        "yoda": "error"
    }
}