.portal {
  :global {
    .ReactModal__Overlay--after-open {
      opacity: 1;
    }

    .ReactModal__Overlay--before-close {
      opacity: 0;
    }

    .ReactModal__Content--after-open {
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      transform: translate(0, 0);
    }

    .ReactModal__Content--before-close {
      -webkit-transform: translate(0, -25%);
      -moz-transform: translate(0, -25%);
      transform: translate(0, -25%);
    }
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 1050;
}

.close {
  color: #fff;
  float: right;
  padding: 0;
  font-size: 34px;
  font-weight: 600;
  margin-top: -8px;
  // opacity: 0.4;
  border: 0;
  outline: none;
  cursor: pointer;
  background: transparent;
  -webkit-appearance: none;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.body {
  padding: 15px;
  height: calc(100% - 66px);
  overflow: auto;
}

.content {
  position: static;
  width: 100%;
  max-width: 542px;
  max-height: 350px;
  height: 100%;
  min-height: 200px;
  margin: 150px auto;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(0, -25%);
  -moz-transform: translate(0, -25%);
  transform: translate(0, -25%);
  transition: transform 0.2s ease-out;
  outline: none;
  border: none;
  padding: 0;
  border-radius: 4px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.download-icon-div {
  float: right;
  margin-right: 20px;
  margin-top: -6px;
  cursor: pointer;
  // opacity: 0.5;
  background: transparent;
  outline: none;
  border: none;

  button {
    background: transparent;
    border: none;
    outline: none;
  }

  &:hover {
    opacity: 1;
  }
}

@media screen and (min-width: 1300px) {
  .content {
    width: 75%;
    height: calc(100% - 150px);
    margin: 75px auto;
  }
}
.form {
  height: 100%;
}
.modal-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .modal-header {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: 'Segoe Pro Semibold';
    color: #676767;
    gap: 6px;
  }
  .main-content {
    padding: 8px 12px;
    height: calc(100% - 46px);
    overflow: auto;

    .input-div {
      .label{
        font-size: 13px;
        line-height: 13px;
        color: #676767;
        font-family: 'segoe pro semibold';
      }
      .input {
        :global {
          .ant-input{
            border-radius: 4px;
            height: 30px;
          }
          .ant-legacy-form-explain {
            line-height: 0.7;
            font-size: 13px;
          }
        }
      }
      .select {
       :global {
        .ant-select-selector {
          height: 30px;
          border-radius: 4px;      
        }
        .ant-legacy-form-explain {
          line-height: 1.2;
          font-size: 13px;
        }
        .ant-select-arrow {
          top: 67%;
        }
      }
       }
    }
  }
  .btn-group {
    margin-top: auto;
    padding: 8px 12px;
    display: flex;
    width: 100%;
    gap: 10px;
    .generate-btn, .generate-btn:hover {
      background: #d305d3 !important;
      border: 1px solid #d305d3 !important;
      color: #FFF !important;
      font-size: 13px;
      font-family: 'Segoe Pro Semibold';
    }
    .close-btn, .close-btn:hover {
      border: 1px solid #aaa !important;
      color: #676767 !important;
      font-size: 13px;
      font-family: 'Segoe Pro Semibold';
    }
  }
}