.editor-div{
    height: 100%;
    font-size: 16px;
    :global{
       .codex-editor{
          height: 100%;
          .image-tool__image {
           width: fit-content;
           margin-bottom: 0px;
         }
         .cdx-quote {
          border-left: none;
          }
          .inline-code {
             background: rgba(250, 239, 240, 0.78);
             color: #b44437;
             padding: 3px 4px;
             border-radius: 5px;
             margin: 0 1px;
             font-family: inherit;
             font-size: 0.86em;
             font-weight: 500;
             letter-spacing: 0.3px;
           }
           .ce-code-content {
             outline: none;
             width: 100%;
             height: 200px;
             background: #efefef;
             border: 1px solid #aaaa;
             padding: 3px 6px !important;
             border-radius: 4px;
             font-size: 14px;
             overflow: auto;
           }
          .codex-editor__redactor{
             height: 100% !important;
             padding: 0px !important;
          }
          .ce-popover--open-top {
             top: calc(100% + var(--offset-from-target));
          }
          .ce-block__content{
             max-width: 85% !important;
          }
          .ce-toolbar__content{
             max-width: 85% !important;
          }
          .ce-paragraph[data-placeholder]:empty:before{
             color: hsl(209deg 26% 22% / 50%);
             font-family: 'Segoe Pro Semibold';
          }
          .ce-inline-toolbar__dropdown-content svg, .ce-inline-toolbar__dropdown-arrow svg,
           .ce-popover-item__icon svg, .ce-conversion-tool__icon svg  {
            width: 16px;
            height: 16px;
          }
          .ce-block b {
             vertical-align: baseline;
             font-family: 'segoe pro semibold' !important;
          }
          .ce-block {
             i, span, mark, u {
                vertical-align: baseline;
             }
          }
          .ce-block__content h1 {
             font-size: 31px !important;
          }
          .cdx-block {
             padding: 0.2em 0;
         }
         .codeflask {
          z-index: 0 !important;
         }
         .editorjs-codeFlask_Wrapper .editorjs-codeFlask_LangDisplay {
          line-height: 13px !important;
         }
          .ce-inline-tool {
             &.ce-inline-tool--font {
                 display: flex;
                 flex-direction: row;
                 position: relative;
             }
         
             .button-wrapper-text {
                 width: 30px;
             }
             .selectionList {
                 position: absolute;
                 top: 45px;
                 left: 0;
                 .selection-list-wrapper {
                     width: 50px;
                     background: #fff;
                     border: 1px solid #eaeaea;
                     .selection-list-option {
                         padding-top: 5px;
                         padding-bottom: 5px;
                         border-bottom: 1px solid #eaeaea;
                 
                         &-active {
                           background-color: #eff2f5;
                         }
                     }
                     .selection-list-option:hover {
                         background-color: #eff2f5;
                     }
                 } 
             }
         }
       }
    }
 }
 .text-container{
    max-width: 85%;
    font-size: 1vw;
    margin: 0 auto;
    img{
       max-width: 100%;
    }
 }
 
 .editor-preview-div {
    height: 100%;
    font-size: 16px;
    :global{
       .codex-editor{
          height: 100%;
          .codex-editor__redactor{
             height: 100% !important;
             padding: 0px !important;
          }
          .cdx-quote {
             border-left: none;
          }
          .ce-block__content{
            max-width: 95% !important;
          }
          .ce-block {
             i, span, mark, u {
                vertical-align: baseline;
             }
          }
          .ce-inline-toolbar__dropdown-content svg, .ce-inline-toolbar__dropdown-arrow svg,
           .ce-popover-item__icon svg, .ce-conversion-tool__icon svg  {
             width: 16px;
             height: 16px;
           }
          .ce-toolbar__content{
             max-width: 95% !important;
          }
          .ce-block b {
             vertical-align: baseline;
             font-family: 'segoe pro semibold' !important;
          }
          .cdx-block {
             padding: 0.2em 0;
         }
         .codeflask {
          z-index: 0 !important;
         }
         .editorjs-codeFlask_Wrapper .editorjs-codeFlask_LangDisplay {
          line-height: 13px !important;
         }    
         .codeflask--has-line-numbers .codeflask__flatten{
          width: unset !important;
         }
         .ce-block__content h1 {
          font-size: 31px !important;
       } 
          .ce-inline-toolbar__dropdown-content svg, .ce-inline-toolbar__dropdown-arrow svg, .ce-popover-item__icon svg {
             width: 16px;
             height: 16px;
           }
         .ce-inline-tool {
          &.ce-inline-tool--font {
              display: flex;
              flex-direction: row;
              position: relative;
          }
      
          .button-wrapper-text {
              width: 30px;
          }
          .selectionList {
              position: absolute;
              top: 45px;
              left: 0;
              .selection-list-wrapper {
                  width: 50px;
                  background: #fff;
                  border: 1px solid #eaeaea;
                  .selection-list-option {
                      padding-top: 5px;
                      padding-bottom: 5px;
                      border-bottom: 1px solid #eaeaea;
              
                      &-active {
                        background-color: #eff2f5;
                      }
                  }
                  .selection-list-option:hover {
                      background-color: #eff2f5;
                  }
              } 
          }
      }
          }
    }
 }
 
 .cdx-notifies {
    bottom: 50px !important;
    z-index: 1050 !important;
   }