.image-tool {
  --bg-color: #cdd1e0;
  --front-color: #388ae5;
  --border-color: #e8e8eb;

}
.image-tool--empty {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
}
.image-tool--empty .image-tool__image {
  display: none;
}

.image-tool--empty .image-tool__image {
  display: none;
}
.image-tool__caption .image-tool[contentEditable="true"][data-placeholder]::before {
  position: absolute !important;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  display: none;
}
.image-tool__caption .image-tool__caption[contentEditable="true"][data-placeholder]:empty .image-tool__caption::before {
    display: block;
  }
  .image-tool__caption .image-tool__caption[contentEditable="true"][data-placeholder]:empty  .image-tool__caption:focus::before {
    display: none;
  }

.image-tool__image {
  width: fit-content;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 10px;
}

  .image-tool__image .image-tool-picture {
    max-width: 100%;
    vertical-align: bottom;
    display: block;
  }

.image-tool__image-preloader {
  width: 100% !important;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  margin: auto;
  position: relative;
  background-color: var(--bg-color);
  background-position: center center;

}
.image-tool__image-preloader::after {
  content: "";
  position: absolute;
  z-index: 3;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid var(--bg-color);
  border-top-color: var(--front-color);
  left: 50%;
  top: 50%;
  margin-top: -30px;
  margin-left: -30px;
  animation: image-preloader-spin 2s infinite linear;
  box-sizing: border-box;
}

.image-tool--empty__caption,
.image-tool--loading__caption {
  display: none;
}
.image-tool--filled .cdx-button {
  display: none;
}
.image-tool--filled .image-tool__image .image-tool__image-preloader {
      display: none;
    }


.cdx-button {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    height: auto;
    margin: 0 6px 0 0;
  }
}

.image-tool--loading .image-tool__image {
  min-height: 200px;
  display: flex;
  border: 1px solid var(--border-color);
  background-color: #fff;
}
.image-tool--loading .cdx-button {
  display: none;
}
.image-tool--loading-picture {
  display: none;
}

.image-tool--withBorder .image-tool__image-picture {
  border: 1px solid #aaa;
  padding: 2px;
  border-radius: 4px;
}
.image-tool--withBackground {
  padding: 10px !important;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  .cdx-input {
    background: #fff;
  }
}
.image-tool--stretched .image-tool__image {
  width: 100% !important;
}

@keyframes image-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
